.navbar {
  .form-inline {
    .form-actions {
      display: none;
    }
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

.toolbar-horizontal {
  .toolbar-menu {
    &.nav {
      justify-content: center;
    }
  }
}

.navbar-light {
  background-color: white;
}
