.layout__region {
  h2 {
    display: flex;
    justify-content: center;
    margin: 2rem auto 1rem auto;
    font-family: Dosis;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.5rem;
    color: #273238;
  }
}
