.user__recipes--title {
  h2 {
    text-align: center;
    margin: 2rem auto 1rem;
    font-family: $font-family-base;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.5rem;
    color: $primary;
  }
}
@import 'block/_hero-block.scss';
