.view-catalog .views-exposed-form {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.view-catalog .views-field-field-image{
  margin: 15px auto 15px;
}

.view-catalog img{
  border: 1px solid black;
}

.recipe {
  text-align: center;
}
