.view-catalog {
  .views-exposed-form {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .views-field-field-image {
    margin: 15px auto 15px;
  }

  .views-label {
    font-weight: bold;
  }
}
.recipe,
.card {
  text-align: center;
  background-color: $gray-200;
  padding-top: 1rem;
}
