// Headings, Text
// -----------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-family-base;
  font-style: normal;
  color: $primary;
}

h1,
h2,
h3,
h5 {
  text-align: center;
  font-weight: bold;
  margin: 2rem 0rem 1rem 0rem;
}

h1 {
  &.text-light {
    float:left;
  }
  text-transform: uppercase;
}

h4,
h6,
p {
  font-weight: normal;
}

// Links
// -----------------------------------------------------------------------------
a {
  color: $brand-5;
  font-family: $font-family-monospace;
  font-weight: 600;
  &.navbar-brand {
    text-transform: uppercase;
    font-size: 2rem;
  }
  &.nav-link {
    text-transform: uppercase;
    color: $primary;
    display: inline;
  }
  &.nav-link:hover {
    color: $white;
    background-color: $primary;
  }
  &.nav-link.is-active {
    color: $primary;
    background-color: $gray-100;
    border-style: solid;
    border-color: $secondary;
  }
  @include hover {
    color: $brand-5;
    text-decoration-line: underline;
  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {
  color: $gray-600;
  font-family: $font-family-monospace;
}

// Image
// -----------------------------------------------------------------------------
img {
}

figure {
}

figcaption {
}

// Other
// -----------------------------------------------------------------------------
blockquote {
  font-family: $font-family-monospace;
  font-style: italic;
  font-weight: normal;
  color: $gray-600;
}

.btn-primary {
  text-transform: uppercase;
  font-weight: bold;
  font-family: $font-family-base;
  color: $primary;
  background-color: $white;
  min-width: 85px;
  border: 2px solid $primary;
}

small {
  font-family: $font-family-monospace;
  font-style: normal;
  font-weight: 600;
  color: $gray-400;
}
