// Headings
// -----------------------------------------------------------------------------

h4,
h6 {
  font-family: Dosis;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: Dosis;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h2,
h3,
h5 {
  font-family: Dosis;
  font-style: normal;
  text-align: center;
  font-weight: bold;
}

// Text
// -----------------------------------------------------------------------------
p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

// Links
// -----------------------------------------------------------------------------
a {
	color: $orange;
  @include hover {
  	color: $orange;
  	text-decoration-line: underline;
  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {
	color: $gray-600;
}

// Image
// -----------------------------------------------------------------------------
img {
}

figure {
}

figcaption {
}

// Other
// -----------------------------------------------------------------------------
blockquote {
	font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  color: $gray-600;
}

strong {
}

small {
}
