@font-face {
  font-family: 'Dosis';
  src: url(../../fonts/dosis/Dosis-ExtraLight.woff), url(../../fonts/dosis/Dosis-ExtraLight.woff2);
  font-weight: 200;
}

@font-face {
  font-family: 'Dosis';
  src: url(../../fonts/dosis/Dosis-Light.woff), url(../../fonts/dosis/Dosis-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: 'Dosis';
  src: url(../../fonts/dosis/Dosis-Regular.woff), url(../../fonts/dosis/Dosis-Regular.woff2);
  font-weight: normal, 400;
}

@font-face {
  font-family: 'Dosis';
  src: url(../../fonts/dosis/Dosis-Medium.woff), url(../../fonts/dosis/Dosis-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: 'Dosis';
  src: url(../../fonts/dosis/Dosis-SemiBold.woff), url(../../fonts/dosis/Dosis-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: 'Dosis';
  src: url(../../fonts/dosis/Dosis-Bold.woff), url(../../fonts/dosis/Dosis-Bold.woff2);
  font-weight: bold, 700;
}

@font-face {
  font-family: 'Dosis';
  src: url(../../fonts/dosis/Dosis-ExtraBold.woff), url(../../fonts/dosis/Dosis-ExtraBold.woff2);
  font-weight: 800;
}
