.landing-page__field-image-hero {
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: 0.5;
}

.landing-page__body { 
  text-align: center;
}

@media (max-width: 599px) {
  .landing-page__body {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (min-width: 600px) {
  .landing-page__body {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media (min-width: 1400px) {
  .landing-page__body {
    margin-left: 9rem;
    margin-right: 9rem;
  }
}

.landing-page img {
  border: 1px solid black;
}
